body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(232, 232, 232);
}

.topline{
    height: 140px;
    padding: 0px;
}

#navbar-cont{
    background-color: #E9F4E8;
    border-radius: 20px;
}